Repository WFCD/warframe-worldstate-parser: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run fmt:fix, eslint -c .eslintrc.yaml --fix --cache, npm test -- --reporter=mocha-minimalist-reporter, npm dedupe, npx sort-package-json

chore: parse Tmp outside of SentientOutpost
  lib/WorldState.js
  lib/models/SentientOutpost.js
  test/unit/sentientOutpost.spec.js
Due: eslint -c .eslintrc.yaml --fix --cache, npm test -- --reporter=mocha-minimalist-reporter

feat: add kinepage
  lib/WorldState.js
  lib/models/Kinepage.js
  test/data/Tmp.js
  test/unit/kinepage.spec.js
Due: eslint -c .eslintrc.yaml --fix --cache, npm test -- --reporter=mocha-minimalist-reporter

chore: cleanup test data
  test/unit/kinepage.spec.js
Due: eslint -c .eslintrc.yaml --fix --cache, npm test -- --reporter=mocha-minimalist-reporter

chore: eslint turn off `no-new` for test files
  .eslintrc.yaml
  test/unit/sentientOutpost.spec.js
Due: eslint -c .eslintrc.yaml --fix --cache, npm test -- --reporter=mocha-minimalist-reporter

feat: add Kinepage messages (#575)
  .eslintrc.yaml
  lib/WorldState.js
  lib/models/Kinepage.js
  lib/models/SentientOutpost.js
  test/data/Tmp.js
  test/unit/kinepage.spec.js
  test/unit/sentientOutpost.spec.js
Due: eslint -c .eslintrc.yaml --fix --cache, npm test -- --reporter=mocha-minimalist-reporter

Notes added by 'git notes add'
  65a82e6150564504af0693d9775b512078b6fdaf
Due: none

feat: added Deep Archimedea
  lib/WorldState.js
  lib/models/DeepArchidemea.js
  package-lock.json
  package.json
  test/data/DeepArchimedea.json
  test/unit/deeparchimedea.spec.js
Due: eslint -c .eslintrc.yaml --fix --cache, npm test -- --reporter=mocha-minimalist-reporter, npm dedupe, npx sort-package-json

feat: added Deep Archimedea (#576)
  lib/WorldState.js
  lib/models/DeepArchidemea.js
  package-lock.json
  package.json
  test/data/DeepArchimedea.json
  test/unit/deeparchimedea.spec.js
Due: eslint -c .eslintrc.yaml --fix --cache, npm test -- --reporter=mocha-minimalist-reporter, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  3e50a48783fbff5a20b07312f97035f8fbfec25f
Due: none

fix: deep archimedea can be undefined in worldstate
  lib/WorldState.js
Due: eslint -c .eslintrc.yaml --fix --cache, npm test -- --reporter=mocha-minimalist-reporter

fix: deep archimedea can be undefined in worldstate (#578)
  lib/WorldState.js
Due: eslint -c .eslintrc.yaml --fix --cache, npm test -- --reporter=mocha-minimalist-reporter

Notes added by 'git notes add'
  8a035e7a622b41442c13a44b3c8e129dd1a0bb89
Due: none

fix(json-modules): assert -> with
  .eslintrc.yaml
  test/.eslintrc.yaml
  test/unit/alert.spec.js
  test/unit/conclavechallenge.spec.js
  test/unit/deeparchimedea.spec.js
  test/unit/event.spec.js
  test/unit/kuva.spec.js
  test/unit/mission.spec.js
  test/unit/news.spec.js
  test/unit/nightwave.spec.js
  test/unit/syndicatejob.spec.js
  test/unit/system.spec.js
  test/unit/voidtrader.spec.js
Due: eslint -c .eslintrc.yaml --fix --cache, npm test -- --reporter=mocha-minimalist-reporter

fix(json-modules): assert -> with (#589)
  .eslintrc.yaml
  test/.eslintrc.yaml
  test/unit/alert.spec.js
  test/unit/conclavechallenge.spec.js
  test/unit/deeparchimedea.spec.js
  test/unit/event.spec.js
  test/unit/kuva.spec.js
  test/unit/mission.spec.js
  test/unit/news.spec.js
  test/unit/nightwave.spec.js
  test/unit/syndicatejob.spec.js
  test/unit/system.spec.js
  test/unit/voidtrader.spec.js
Due: eslint -c .eslintrc.yaml --fix --cache, npm test -- --reporter=mocha-minimalist-reporter

Notes added by 'git notes add'
  c528e552fec0123af4024d44d530a113d343a8e3
Due: none

feat: add 1999 calendar
  lib/WorldState.js
  lib/models/Calendar.js
  package-lock.json
  test/data/Calendar.json
  test/unit/calendar.spec.js
Due: eslint -c .eslintrc.yaml --fix --cache, npm test -- --reporter=mocha-minimalist-reporter, npm dedupe, npx sort-package-json

chore: typo
  lib/models/Calendar.js
Due: eslint -c .eslintrc.yaml --fix --cache, npm test -- --reporter=mocha-minimalist-reporter

refactor: improved code syntax
  lib/WorldState.js
  lib/models/Calendar.js
Due: eslint -c .eslintrc.yaml --fix --cache, npm test -- --reporter=mocha-minimalist-reporter

feat: add 1999 calendar (#593)
  lib/WorldState.js
  lib/models/Calendar.js
  package-lock.json
  test/data/Calendar.json
  test/unit/calendar.spec.js
Due: eslint -c .eslintrc.yaml --fix --cache, npm test -- --reporter=mocha-minimalist-reporter, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  1eb91a82ae8648e215e62fc557fe62a7b6afc007
Due: none

Path conditions:
  npm run fmt:fix: any of: *.**,!package*.json
  eslint -c .eslintrc.yaml --fix --cache: any of: *.js
  npm test -- --reporter=mocha-minimalist-reporter: any of: *.js
  npm dedupe: any of: package*.json
  npx sort-package-json: any of: package*.json
