Repository WFCD/warframe-worldstate-parser: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run fmt:fix, eslint --fix --cache, npm test -- --reporter=mocha-minimalist-reporter, npm dedupe, npx sort-package-json

.lintstagedrc.yaml:

'*.**,!package*.json':
  - 'npm run fmt:fix'
'*.js':
  - eslint --fix --cache
  - npm test -- --reporter=mocha-minimalist-reporter
package*.json:
  - npm dedupe
  - npx sort-package-json

feat: async the lib
  README.md
  lib/WorldState.js
  lib/models/SyndicateJob.js
  main.js
  package.json
  test/integration/integration.spec.js
  test/unit/event.spec.js
  test/unit/syndicatejob.spec.js
  test/unit/system.spec.js
Due: eslint --fix --cache, npm test -- --reporter=mocha-minimalist-reporter, npm dedupe, npx sort-package-json

fix: make WorldEvent async, parseAsyncArray build usage
  .commitlintrc.ts
  lib/WorldState.js
  lib/models/SyndicateJob.js
  lib/models/SyndicateMission.js
  lib/models/WorldEvent.js
Due: eslint --fix --cache, npm test -- --reporter=mocha-minimalist-reporter

feat: change how syndcate arrays parse (#540)
  .c8rc.json
  .commitlintrc.ts
  .eslintignore
  .eslintrc.yaml
  .lintstagedrc.yaml
  .mocharc.yml
  .npmignore
  README.md
  babel.config.cjs
  clean-package.config.js
  lib/WorldState.js
  lib/models/SyndicateJob.js
  lib/models/SyndicateMission.js
  lib/models/WorldEvent.js
  main.js
  package-lock.json
  package.json
  test/integration/integration.spec.js
  test/unit/event.spec.js
  test/unit/syndicatejob.spec.js
  test/unit/syndicatemission.spec.js
  test/unit/system.spec.js
  test/unit/worldstate.spec.js
Due: eslint --fix --cache, npm test -- --reporter=mocha-minimalist-reporter, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  0a182c498e23bb0ab481410346114fce47d9355d
Due: none

fix(sec): redos
  .eslintrc.yaml
  .lintstagedrc.yaml
  lib/WorldState.js
  lib/supporting/RewardTypes.js
  package-lock.json
  package.json
  tsconfig.declaration.json
Due: eslint --fix --cache, npm test -- --reporter=mocha-minimalist-reporter, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  fc0f05c006fed1629d595fc823d07b083d3e71d5
Due: none

fix(sec): redos
  .eslintrc.yaml
  .lintstagedrc.yaml
  lib/WorldState.js
  lib/supporting/RewardTypes.js
  package.json
  tsconfig.declaration.json
Due: eslint --fix --cache, npm test -- --reporter=mocha-minimalist-reporter, npm dedupe, npx sort-package-json

ci: cleanup
  test/testclient.js
Due: eslint --fix --cache, npm test -- --reporter=mocha-minimalist-reporter

ci: regen package-lock
  package-lock.json
Due: npm dedupe, npx sort-package-json

ci: clean-package cjs
  .npmignore
  clean-package.config.cjs
  tsconfig.declaration.json
Due: none

fix(sec): redos, release (#543)
  .eslintrc.yaml
  .lintstagedrc.yaml
  .npmignore
  clean-package.config.cjs
  lib/WorldState.js
  lib/supporting/RewardTypes.js
  package-lock.json
  package.json
  test/testclient.js
  tsconfig.declaration.json
Due: eslint --fix --cache, npm test -- --reporter=mocha-minimalist-reporter, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  2e3eef9ad330777c12ec10bc8b27148c4c9e8217
Due: none
