Repository WFCD/warframe-worldstate-parser: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run fmt:fix, biome lint --write --staged, mocha --reporter=mocha-minimalist-reporter, npm dedupe, npx sort-package-json

fix(docs): node types
  package-lock.json
  package.json
Due: npm dedupe, npx sort-package-json

fix(docs): node types
  tsconfig.json
Due: none

fix(ts): v6 deprecations
  tsconfig.json
Due: none

Notes added by 'git notes add'
  655d41e3dce1c9b9dbbc981d1de69391c531a397
Due: none

docs: type fixes
  lib/supporting/ExternalMission.ts
  typedoc.json
Due: biome lint --write --staged, mocha --reporter=mocha-minimalist-reporter

style: openapi imports
  biome.json
  lib/models/Archimedea.ts
  lib/models/DarkSector.ts
Due: biome lint --write --staged, mocha --reporter=mocha-minimalist-reporter

Notes added by 'git notes add'
  2a8f5e3fc39d656ab82b7bed75da0b8e1c6a0b6a
Due: none

fix: expose additional classes
  lib/WorldState.ts
  lib/models/Archimedea.ts
  lib/models/DuviriCycle.ts
  lib/models/Kuva.ts
  lib/models/Tmp.ts
  lib/supporting/ExternalMission.ts
Due: biome lint --write --staged, mocha --reporter=mocha-minimalist-reporter

Notes added by 'git notes add'
  4b9af67fb8ea8e68980b109a163eb4be3b22dd18
Due: none

Notes added by 'git notes add'
  f259280ad88125e9372f7ba62a96267e46565085
Due: none

Notes added by 'git notes add'
  5b5268552abee5d1da4aac3d1eeffca1a3ad4c67
Due: none

fix: log bounty fetch failures
  lib/models/SyndicateJob.ts
Due: biome lint --write --staged, mocha --reporter=mocha-minimalist-reporter

chore: lint
  lib/models/SyndicateJob.ts
Due: biome lint --write --staged, mocha --reporter=mocha-minimalist-reporter

Path conditions:
  npm run fmt:fix: any of: *.**,!package*.json
  biome lint --write --staged: any of: *.ts
  mocha --reporter=mocha-minimalist-reporter: any of: *.ts
  npm dedupe: any of: package*.json
  npx sort-package-json: any of: package*.json
