Repository WFCD/warframe-worldstate-parser: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run fmt:fix, biome lint --write --staged, mocha --reporter=mocha-minimalist-reporter, npm dedupe, npx sort-package-json

fix: depenedency updates
  package-lock.json
  package.json
Due: npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  61196d8494739104256ebabef045e57e68ed345f
Due: none

Notes added by 'git notes add'
  edc695bafe6935a6fca390c62e2baaa4b043adb1
Due: none

fix: dep updates
  .github/workflows/ci.yaml
  package-lock.json
  package.json
Due: npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  cd28870d98eea9cf4ffa292509c693b9e5d26e5d
Due: none

chore: biome schema update
  biome.json
Due: none

ci: excise prettier & eslint
  biome.json
  clean-package.config.cjs
  lib/supporting/FetchProxy.ts
  package-lock.json
  package.json
Due: biome lint --write --staged, mocha --reporter=mocha-minimalist-reporter, npm dedupe, npx sort-package-json

fix: ai recommendation
  lib/models/Alert.ts
  lib/models/ChallengeInstance.ts
  lib/models/ConclaveChallenge.ts
  lib/models/DailyDeal.ts
  lib/models/DarkSector.ts
  lib/models/DuviriCycle.ts
  lib/models/Fissure.ts
  lib/models/FlashSale.ts
  lib/models/GlobalUpgrade.ts
  lib/models/Invasion.ts
  lib/models/Kuva.ts
  lib/models/Mission.ts
  lib/models/News.ts
  lib/models/Nightwave.ts
  lib/models/Reward.ts
  lib/models/SentientOutpost.ts
  lib/models/Simaris.ts
  lib/models/Sortie.ts
  lib/models/SortieVariant.ts
  lib/models/SyndicateJob.ts
  lib/models/SyndicateMission.ts
  lib/models/Tmp.ts
  lib/models/VoidTrader.ts
  lib/models/VoidTraderItem.ts
  lib/models/VoidTraderSchedule.ts
  lib/models/WorldEvent.ts
  lib/supporting/FetchProxy.ts
  test/integration/integration.spec.ts
  test/unit/event.spec.ts
  test/unit/sortievariant.spec.ts
  test/unit/syndicatejob.spec.ts
  test/unit/syndicatemission.spec.ts
  test/unit/system.spec.ts
  test/unit/voidtrader.spec.ts
  test/unit/worldstate.spec.ts
Due: biome lint --write --staged, mocha --reporter=mocha-minimalist-reporter

chore: more alias fixes
  lib/models/ChallengeInstance.ts
  lib/models/ConclaveChallenge.ts
  lib/models/DailyDeal.ts
  lib/models/DuviriCycle.ts
  lib/models/Fissure.ts
  lib/models/GlobalUpgrade.ts
  lib/models/Kuva.ts
  lib/models/Mission.ts
  lib/models/Reward.ts
  lib/models/SentientOutpost.ts
  lib/models/Simaris.ts
  lib/models/Sortie.ts
  lib/models/Tmp.ts
  lib/models/VoidTraderSchedule.ts
  package.json
Due: biome lint --write --staged, mocha --reporter=mocha-minimalist-reporter, npm dedupe, npx sort-package-json

chore: more alias fixes
  lib/models/ConclaveChallenge.ts
  lib/models/DailyDeal.ts
  lib/models/Fissure.ts
  lib/models/GlobalUpgrade.ts
  lib/models/Mission.ts
  lib/models/Reward.ts
  lib/models/Sortie.ts
  lib/models/Tmp.ts
  lib/models/WorldEvent.ts
  package-lock.json
Due: biome lint --write --staged, mocha --reporter=mocha-minimalist-reporter, npm dedupe, npx sort-package-json

chore: use imports from built package
  lib/supporting/DuviriChoice.ts
  test/testclient.ts
Due: biome lint --write --staged, mocha --reporter=mocha-minimalist-reporter

chore: switch tests -> expect
  lib/models/SentientOutpost.ts
  lib/supporting/DuviriChoice.ts
  lib/supporting/KuvaLogEntry.ts
  package-lock.json
  package.json
  test/data/LanguageNews.json
  test/data/News.json
  test/integration/integration.spec.ts
  test/unit/alert.spec.ts
  test/unit/archimedea.spec.ts
  test/unit/calendar.spec.ts
  test/unit/cambion.spec.ts
  test/unit/cetus.spec.ts
  test/unit/conclavechallenge.spec.ts
  test/unit/construction.spec.ts
  test/unit/dailydeal.spec.ts
  test/unit/darksector.spec.ts
  test/unit/earth_cycle.spec.ts
  test/unit/event.spec.ts
  test/unit/fissure.spec.ts
  test/unit/flashsale.spec.ts
  test/unit/globalupgrade.spec.ts
  test/unit/invasion.spec.ts
  test/unit/kinepage.spec.ts
  test/unit/kuva.spec.ts
  test/unit/mission.spec.ts
  test/unit/news.spec.ts
  test/unit/nightwave.spec.ts
  test/unit/persistentenemy.spec.ts
  test/unit/reward.spec.ts
  test/unit/sentientOutpost.spec.ts
  test/unit/simaris.spec.ts
  test/unit/sortie.spec.ts
  test/unit/sortievariant.spec.ts
  test/unit/syndicatejob.spec.ts
  test/unit/syndicatemission.spec.ts
  test/unit/system.spec.ts
  test/unit/voidtrader.spec.ts
  test/unit/worldstate.spec.ts
  test/unit/zariman.spec.ts
Due: biome lint --write --staged, mocha --reporter=mocha-minimalist-reporter, npm dedupe, npx sort-package-json

chore: barrel import
  lib/models/ChallengeInstance.ts
  lib/models/ConclaveChallenge.ts
  lib/models/DailyDeal.ts
  lib/models/Fissure.ts
  lib/models/GlobalUpgrade.ts
  lib/models/Mission.ts
  lib/models/Reward.ts
  lib/models/SentientOutpost.ts
  lib/models/Simaris.ts
  lib/models/Sortie.ts
  lib/models/SortieVariant.ts
  lib/models/Tmp.ts
  lib/models/VoidTraderSchedule.ts
Due: biome lint --write --staged, mocha --reporter=mocha-minimalist-reporter

chore: more ai suggestions
  package-lock.json
  package.json
  test/unit/archimedea.spec.ts
  test/unit/mission.spec.ts
Due: biome lint --write --staged, mocha --reporter=mocha-minimalist-reporter, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  d99ff9c763ad48e08459414ce7a3530531784f99
Due: none

ci: setup-node
  .github/workflows/docs.yaml
Due: none

ci: build docs in PR
  .github/workflows/ci.yaml
  .github/workflows/docs.yaml
Due: none

ci: setup-node
  .github/workflows/ci.yaml
Due: none

docs: update types, export more
  .gitignore
  lib/models/Archimedea.ts
  lib/models/Kuva.ts
  lib/supporting/ExternalMission.ts
Due: biome lint --write --staged, mocha --reporter=mocha-minimalist-reporter

docs: update types, export more (#758)
  .github/workflows/ci.yaml
  .github/workflows/docs.yaml
  .gitignore
  lib/models/Archimedea.ts
  lib/models/Kuva.ts
  lib/supporting/ExternalMission.ts
Due: biome lint --write --staged, mocha --reporter=mocha-minimalist-reporter

Path conditions:
  npm run fmt:fix: any of: *.**,!package*.json
  biome lint --write --staged: any of: *.ts
  mocha --reporter=mocha-minimalist-reporter: any of: *.ts
  npm dedupe: any of: package*.json
  npx sort-package-json: any of: package*.json
