Repository WFCD/warframe-worldstate-parser: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run fmt:fix, biome lint --write --staged, npm test -- --reporter=mocha-minimalist-reporter, npm dedupe, npx sort-package-json

fix: migrated to typedoc for documentation (#687)
  .github/workflows/docs.yaml
  jsdoc-config.json
  lib/models/Archidemea.ts
  lib/models/DarkSector.ts
  lib/models/Invasion.ts
  lib/models/SentientOutpost.ts
  package-lock.json
  package.json
  tsconfig.json
  typedoc.json
Due: biome lint --write --staged, npm test -- --reporter=mocha-minimalist-reporter, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  82f8df90ba4808177f9847b32787c05d9b874d36
Due: none

fix: default to `Varzia` when trader name is undefined
  lib/models/VoidTrader.ts
Due: biome lint --write --staged, npm test -- --reporter=mocha-minimalist-reporter

chore: maybe?
  lib/WorldState.ts
  lib/models/VoidTrader.ts
  lib/supporting/Dependency.ts
Due: biome lint --write --staged, npm test -- --reporter=mocha-minimalist-reporter

chore: fix doc
  lib/models/VoidTrader.ts
Due: biome lint --write --staged, npm test -- --reporter=mocha-minimalist-reporter

fix: default to `Varzia` when trader name is undefined (#688)
  lib/WorldState.ts
  lib/models/VoidTrader.ts
  lib/supporting/Dependency.ts
Due: biome lint --write --staged, npm test -- --reporter=mocha-minimalist-reporter

Notes added by 'git notes add'
  281c52d905a445180bf841c2a3e4e66a2cf1ebf6
Due: none

fix: typo from bount to bounty
  lib/models/SyndicateJob.ts
Due: biome lint --write --staged, npm test -- --reporter=mocha-minimalist-reporter

feat: expose more drop info for bounty rewards
  lib/models/SyndicateJob.ts
  test/unit/syndicatejob.spec.ts
Due: biome lint --write --staged, npm test -- --reporter=mocha-minimalist-reporter

fix: typo
  lib/models/SyndicateJob.ts
  test/unit/syndicatejob.spec.ts
Due: biome lint --write --staged, npm test -- --reporter=mocha-minimalist-reporter

feat: expose more drop info for bounty rewards (#682)
  lib/models/SyndicateJob.ts
  test/unit/syndicatejob.spec.ts
Due: biome lint --write --staged, npm test -- --reporter=mocha-minimalist-reporter

Notes added by 'git notes add'
  e2f9bf798d72d2a28d76ab9b4fc6a6d88226cb84
Due: none

fix: reward pool count regex would affect `Xaku` rewards
  lib/models/SyndicateJob.ts
Due: biome lint --write --staged, npm test -- --reporter=mocha-minimalist-reporter

chore: cleaned up regex a bit
  lib/models/SyndicateJob.ts
Due: biome lint --write --staged, npm test -- --reporter=mocha-minimalist-reporter

fix: reward pool count regex would affect `Xaku` rewards (#691)
  lib/models/SyndicateJob.ts
Due: biome lint --write --staged, npm test -- --reporter=mocha-minimalist-reporter

Notes added by 'git notes add'
  f8e3de83f18cd3b7f4dc2e90c9eef91f15745ae2
Due: none

feat: add `faceoffBonus` state and QTCC goal/count
  lib/Tmp.ts
  lib/WorldState.ts
Due: biome lint --write --staged, npm test -- --reporter=mocha-minimalist-reporter

fix: comment out midrath until the game cooks more
  lib/WorldState.ts
Due: biome lint --write --staged, npm test -- --reporter=mocha-minimalist-reporter

fix(qtcc): rename `next` to `goal`
  lib/Tmp.ts
  lib/WorldState.ts
Due: biome lint --write --staged, npm test -- --reporter=mocha-minimalist-reporter

chore: applied code suggestions
  lib/Tmp.ts
  lib/WorldState.ts
Due: biome lint --write --staged, npm test -- --reporter=mocha-minimalist-reporter

feat: add faceoffBonus state and QTCC goal/count (#692)
  lib/Tmp.ts
  lib/WorldState.ts
Due: biome lint --write --staged, npm test -- --reporter=mocha-minimalist-reporter

Notes added by 'git notes add'
  6a8cd4ac1c3698019788d3ed9b340f36c6d7aa45
Due: none

Notes added by 'git notes add'
  b15bdfd61dd7e181e679e142edb965e346bc5b7f
Due: none

Notes added by 'git notes add'
  aae8849b6b99e9c6ce14131bed07aec613ec8e05
Due: none

Path conditions:
  npm run fmt:fix: any of: *.**,!package*.json
  biome lint --write --staged: any of: *.ts
  npm test -- --reporter=mocha-minimalist-reporter: any of: *.ts
  npm dedupe: any of: package*.json
  npx sort-package-json: any of: package*.json
