Repository WFCD/warframe-worldstate-parser: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run fmt:fix, biome lint --write --staged, npm test -- --reporter=mocha-minimalist-reporter, npm dedupe, npx sort-package-json

fix: oidc perms & provenance
  .github/workflows/release.yaml
Due: none

chore: provenance & repo url
  package.json
Due: npm dedupe, npx sort-package-json

fix: oidc perms & provenance (#699)
  .github/workflows/release.yaml
  package.json
Due: npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  76a51a6e39da11ff77ac4334ba3b86eeb69b4cba
Due: none

fix: update urls
  .lintstagedrc.yaml
  .mocharc.yml
  README.md
  package-lock.json
  package.json
  test/integration/integration.spec.ts
  test/testclient.ts
  test/unit/system.spec.ts
Due: biome lint --write --staged, npm test -- --reporter=mocha-minimalist-reporter, npm dedupe, npx sort-package-json

fix: refactor to use new archimedea structure
  lib/Tmp.ts
  lib/WorldState.ts
  lib/models/Archidemea.ts
  test/data/Conquest.json
  test/data/DeepArchimedea.json
  test/data/TemporalArchimedea.json
  test/unit/archimedea.spec.ts
Due: biome lint --write --staged, npm test -- --reporter=mocha-minimalist-reporter

fix: some proxy for tests
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  lib/models/SyndicateJob.ts
  lib/supporting/FetchProxy.ts
  test/integration/integration.spec.ts
  test/testclient.ts
  test/unit/system.spec.ts
Due: biome lint --write --staged, npm test -- --reporter=mocha-minimalist-reporter

chore: remove extra lifecycle script
  package.json
Due: npm dedupe, npx sort-package-json

chore: clean up replace
  lib/supporting/FetchProxy.ts
Due: biome lint --write --staged, npm test -- --reporter=mocha-minimalist-reporter

chore: clean up comment
  test/integration/integration.spec.ts
Due: biome lint --write --staged, npm test -- --reporter=mocha-minimalist-reporter

chore: add a type key and use langstring
  lib/models/Archidemea.ts
Due: biome lint --write --staged, npm test -- --reporter=mocha-minimalist-reporter

ci: change concurrency
  .github/workflows/ci.yaml
Due: none

fix: some proxy for tests (#700)
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  lib/models/SyndicateJob.ts
  lib/supporting/FetchProxy.ts
  package.json
  test/integration/integration.spec.ts
  test/testclient.ts
  test/unit/system.spec.ts
Due: biome lint --write --staged, npm test -- --reporter=mocha-minimalist-reporter, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  eb902d4ea1bd8d2df481cafe619431a6d30880eb
Due: none

fix: pkg autofix
  package.json
Due: npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  2d85d702f8a2d6d88c2e62aa159dab7669187117
Due: none

chore: `tsdown` no longer enjoys the comfort of node v18
  .github/workflows/ci.yaml
Due: none

chore: use `parseArray`
  lib/WorldState.ts
  lib/models/Archidemea.ts
Due: biome lint --write --staged, npm test -- --reporter=mocha-minimalist-reporter

fix: refactor to use new archimedea structure (#702)
  .github/workflows/ci.yaml
  lib/Tmp.ts
  lib/WorldState.ts
  lib/models/Archidemea.ts
  test/data/Conquest.json
  test/data/DeepArchimedea.json
  test/data/TemporalArchimedea.json
  test/unit/archimedea.spec.ts
Due: biome lint --write --staged, npm test -- --reporter=mocha-minimalist-reporter

Notes added by 'git notes add'
  c6b08e68709c502021725366fefcec531a17a4e4
Due: none

fix: simplify
  .github/workflows/ci.yaml
Due: none

fix: wireguard test
  .github/workflows/ci.yaml
Due: none

fix: wireguard test (#704)
  .github/workflows/ci.yaml
Due: none

Notes added by 'git notes add'
  af5d0844c2baa1a5c72afca26ff2eebf846affbd
Due: none

fix: wireguard for release release
  .github/workflows/release.yaml
Due: none

Notes added by 'git notes add'
  77bedd8a497cee29cacc741340cb496f9a293ab1
Due: none

Path conditions:
  npm run fmt:fix: any of: *.**,!package*.json
  biome lint --write --staged: any of: *.ts
  npm test -- --reporter=mocha-minimalist-reporter: any of: *.ts
  npm dedupe: any of: package*.json
  npx sort-package-json: any of: package*.json
