Repository WFCD/warframe-worldstate-parser: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run fmt:fix, biome lint --write --staged, mocha --reporter=mocha-minimalist-reporter, npm dedupe, npx sort-package-json

.lintstagedrc.yaml:

'*.**,!package*.json':
  - 'npm run fmt:fix'
'*.ts':
  - biome lint --write --staged
  - mocha --reporter=mocha-minimalist-reporter
package*.json:
  - npm dedupe
  - npx sort-package-json

Notes added by 'git notes add'
  b174bcd27fbb8382cece35d370c687957270a587
Due: none

Notes added by 'git notes add'
  6f0507de25d1c336e075ef7429a791a3fd4e8483
Due: none

fix: log bounty fetch failures
  lib/models/SyndicateJob.ts
Due: biome lint --write --staged, mocha --reporter=mocha-minimalist-reporter

chore: lint
  lib/models/SyndicateJob.ts
Due: biome lint --write --staged, mocha --reporter=mocha-minimalist-reporter

Notes added by 'git notes add'
  44721c172b8bf122bdc61197037aea63763ee139
Due: none

Notes added by 'git notes add'
  bd7fc2e5eb6354e1d534f27677420a2e1335c6be
Due: none

ci: update node version
  .github/workflows/ci.yaml
  package.json
Due: npm dedupe, npx sort-package-json

ci: sleeps after node 22 to allow WG cleanup
  .github/workflows/ci.yaml
  package-lock.json
  package.json
Due: npm dedupe, npx sort-package-json

ci: pinact action versions
  .github/workflows/ci.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docs.yaml
  .github/workflows/release.yaml
Due: none

ci: eval config into env
  .github/workflows/ci.yaml
Due: none

build: update node version (#870)
  .github/workflows/ci.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docs.yaml
  .github/workflows/release.yaml
  package-lock.json
  package.json
Due: npm dedupe, npx sort-package-json

ci: consolidate dependabot updates
  .github/dependabot.yml
Due: none

ci(dependabot): remove invalid configuration
  .github/dependabot.yml
  package-lock.json
  package.json
Due: npm dedupe, npx sort-package-json
