Repository WFCD/warframe-worldstate-parser: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run fmt:fix, biome lint --write --staged, mocha --reporter=mocha-minimalist-reporter, npm dedupe, npx sort-package-json

ci(dependabot): remove invalid configuration
  .github/dependabot.yml
Due: none

style: migrate & lint biome
  biome.json
Due: none

ci: consolidate dependabot updates (#871)
  .github/dependabot.yml
  biome.json
  package-lock.json
  package.json
Due: npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  0ddd4c93b72481f7303101dd243d616baf57efba
Due: none

chore: lint
  lib/models/SyndicateJob.ts
Due: biome lint --write --staged, mocha --reporter=mocha-minimalist-reporter

fix: log bounty fetch failures
  lib/models/SyndicateJob.ts
Due: biome lint --write --staged, mocha --reporter=mocha-minimalist-reporter

fix: log bounty fetch failures (#825)
  lib/models/SyndicateJob.ts
Due: biome lint --write --staged, mocha --reporter=mocha-minimalist-reporter

Notes added by 'git notes add'
  03f77418f6cb83b8add8341b0c1560c5736f5bb5
Due: none

Notes added by 'git notes add'
  3ae6888e5a4f58cab81ea0a420b0f2fcc615d978
Due: none

Notes added by 'git notes add'
  303904209735a89e99ac5ca45665265d409b3e1e
Due: none

Notes added by 'git notes add'
  e6e15e938440d1a72f68d8a5f74b17cb77462b8f
Due: none

fix: `EndlessXpChoices` is now `EndlessXpSchedule`
  lib/WorldState.ts
Due: biome lint --write --staged, mocha --reporter=mocha-minimalist-reporter

chore: quick check before creating duviriCycles
  lib/WorldState.ts
Due: biome lint --write --staged, mocha --reporter=mocha-minimalist-reporter

fix: `EndlessXpChoices` is now `EndlessXpSchedule` (#887)
  lib/WorldState.ts
Due: biome lint --write --staged, mocha --reporter=mocha-minimalist-reporter

Notes added by 'git notes add'
  477069b91af9a621dd40dde800f5bf4fdefecfef
Due: none

Notes added by 'git notes add'
  745c7ed458d68f522f61a58feddf6790cfb6f8b7
Due: none

feat: add clan initiative rewards
  biome.json
  lib/WorldState.ts
  lib/models/ClanInitiativeRewards.ts
  lib/models/index.ts
  package-lock.json
  test/data/WeeklyVaultBonusRewards.json
  test/unit/clanInitiativeRewards.spec.ts
  tsconfig.json
Due: biome lint --write --staged, mocha --reporter=mocha-minimalist-reporter, npm dedupe, npx sort-package-json

chore: add docs
  lib/models/ClanInitiativeRewards.ts
Due: biome lint --write --staged, mocha --reporter=mocha-minimalist-reporter

feat: add clan initiative rewards (#891)
  biome.json
  lib/WorldState.ts
  lib/models/ClanInitiativeRewards.ts
  lib/models/index.ts
  package-lock.json
  test/data/WeeklyVaultBonusRewards.json
  test/unit/clanInitiativeRewards.spec.ts
  tsconfig.json
Due: biome lint --write --staged, mocha --reporter=mocha-minimalist-reporter, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  813852dae103b03a2a0b2a95803e4307aa1bca01
Due: none

Notes added by 'git notes add'
  d20c0585d7af3520f2b6218d9dd675f3ba21fc47
Due: none

Path conditions:
  npm run fmt:fix: any of: *.**,!package*.json
  biome lint --write --staged: any of: *.ts
  mocha --reporter=mocha-minimalist-reporter: any of: *.ts
  npm dedupe: any of: package*.json
  npx sort-package-json: any of: package*.json
